body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F4FA;
  color: #212121;
  line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6, 
p
{
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.form-wrap {
  position: sticky;
  top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 6, 158, 0.932);
  height: 55px;
  width: 100%;
  margin-top: 10px;
}

.search-form {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.search-form > input {
  outline: transparent;
  height: 35px;
  flex-grow: 1;
  font-size: 16px;
  padding-left: 15px;
  border: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 35px;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #e7dede;
  transition: background-color 250ms linear;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #b6bcdf;
}

.search-icon {
  transition: transform 250ms linear;
}

.search-icon:hover,
.search-icon:focus {
  transform: scale(1.15);
}

.load-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 10px 20px;

  font-size: 16px;
  background-color: rgba(6, 6, 158, 0.932);
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.load-more:hover {
  background-color: rgba(89, 89, 168, 0.932);
}

.load-more.is-hidden {
  display: none;
}

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
}

.gallery {
  /* margin: 40px 0; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
}

.photo-card {
  flex-basis: calc((100% - 3 * (30px)) / 4); 
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover,
.photo-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-link {
  text-decoration: none;
}

.photo-link > img {
  width: 100%;
  display: block;
  max-width: unset; 
  object-fit: cover;
}

.info {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px 14px;
}

.info-item {
flex-basis: calc((100% - 3 * (10px)) / 4);
display: flex;
flex-direction: column;
align-items: center;
color: #000000;
margin-right: 0;
margin-left: 0;
}

/* #sentinel {
  width: 300px;
  height: 200px;
  background-color: tomato;
} */